.widgetLg {
  flex: 2;
  -webkit-box-shadow: 1px 0px 15px -8px rgba(0, 0, 0, 0.45);
  box-shadow: 1px 0px 15px -8px rgba(0, 0, 0, 0.45);
  padding: 20px;
}

.widgetLgTitle {
  font-size: 25px;
  font-weight: 500;
}

.widgetLgTable {
  width: 100%;
  border-spacing: 20px;
}

.widgetLgTh {
  text-align: left;
}

.widgetLgUser {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
}

.widgetLgImg {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.widgetLgDate,
.widgetLgAmount,
.widgetLgStatus {
  font-weight: 300;
}

.widgetLgButton {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
}

.widgetLgButton.Approved {
  background-color: #e5faf2;
  color: #3bb077;
}

.widgetLgButton.Declined {
  background-color: #fff0f1;
  color: #d95087;
}

.widgetLgButton.Pending {
  background-color: #e3ecff;
  color: #2a7ade;
}
